@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Cuerpo en general */
body{
    background-color: rgb(247, 239, 239);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
}

/* Logo */
.logo {
    width: 220px;
    height: 50px;
    border-radius: 0px;
}

a:hover{
    background: #00b5f1; 
    border: 1px solid white;
}

/* Banner */
.banner {
    width: 100% auto;
    height: 400px;
    margin: 15px;
    display: flex;
    background-size: 100% 100%;
    animation: banner 8s infinite;
    animation-direction: alternate;
    border: 5px outset rgb(20, 33, 55);
}

.banner{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

@keyframes banner {
    0%, 30% {
        background-image: url("../../EliteFlowers/img/camiones.webp");
              opacity: 1;
    }
    31%,
    34% {
      opacity: 1;
    }
    35%,
    65% {
        background-image: url("../../EliteFlowers/img/camion1.webp");
        opacity: 1;
    }
    66%,
    69% {
      opacity: 1;
    }
    70%,
    100% {
      opacity: 1;
      background-image: url("../../EliteFlowers/img/flores1.webp");
    }
}

/*  Header  */
.container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(20, 33, 55);
    grid-column-start: 1;
    grid-column-end: 5;
    height: 80px;
}

/* Menu de apartados */
.menu>a {
    display: flex;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none;
    list-style-type: none;
}

/* Columnas de texto*/
.contenido{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background: rgb(20, 33, 55);
    color: #fff;
    height: 300px;
}

.columna1{
    margin: 30px 5px 30px 10px;
    width: 32%;
    height: 230px;
    text-align: center;
    position: left;
    float:left;
    padding: 0px;
}

.columna2{
    margin: 30px 5px 30px 0px;
    width: 32%;
    height: 230px;
    text-align: center;
    position: left;
    float: left;
}

.columna3{
    margin: 30px 5px 30px 0px;
    width: 32%;
    height: 230px;
    text-align: center;
    position: left;
    float: left;
}

h3{
    color: rgb(255, 251, 251);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

h4{
    color: rgb(250, 193, 3);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    margin: 20px;
    margin-bottom: 0px;
}

/* Mapa */
#map{
    margin: 15px 0px 15px 15px;
    height: 350px;
    position: left;
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    border: 1px solid rgb(20, 33, 55);
}

/*  Soporte  */
.soporte{
    background: rgb(20, 33, 55);
    color: #fff;
    margin: 15px;
    height: 350px;
    position: left;
    float:left;
    grid-column-start: 3;
    grid-column-end: 5;
}

/* Datos de contacto */
table {     
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    width: 200px;
    text-align: left;
}

p.uno {
    line-height: 25px;
    color: #fff;
    font-size: px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 10px 10px 10px 20px;
}

p.dos {
    line-height: 25px;
    color: #fff;
    font-size: px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 10px 10px 10px 20px;
}

td {
    /* margin-left: px; */
    padding: 1px;     
    color: rgb(255, 255, 255);
    font-size: 14px;
}

/*  Pie de pagina  */
.footer{
    background-color: rgb(20, 33, 55);
    color:#fff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    height: 25px;
    grid-row-start: 6;
    grid-row-end:7;
    grid-column-start: 1;
    grid-column-end: 5;
}

@media screen and (max-width: 768px){
    .banner{
        height: 200px;
        margin: 10px;
    }

    .logo{
        width: 160px;
        height: 40px;

    }
    
    .menu>a {
        font-size: 20px;
    }

    .contenido{
        height: 440px;
    }

    hr.linea{
        border-color:  white;
        margin-bottom: 15px;
    }

    .columna1{
        text-align: center; 
        width: 90%;
        height: 115px;
        margin: 15px 15px 0px;
        padding-top: 8px;
 
    }

    .columna2{
        text-align: center;
        width: 90%;
        height: 130px;
        margin: 10px 15px 0px;
        padding-top: 8px;
    } 

    .columna3{
        text-align: center;
        width: 90%;
        height: 115px;
        margin: 10px 15px ;
        padding-top: 8px;
    }

    h3 ,h4{
        font-size: 20px;
    }
    
    p.uno{
        font-size: 15px;
    }

    p.dos{
        font-size: 15px;
    }

    #map{
        grid-column-start: 1;
        grid-column-end: 5;
        margin-bottom: 0px;
        height: 300px;
        margin: 15px 15px 0px 15px;
    }
    
    .soporte{
        grid-column-start: 1;
        grid-column-end:5;
        height: 300px;
    }

   .footer{
        font-size: 15px;
    }
}
