@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

/* Contenido header */
.container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(20, 33, 55);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Logo/Header */
.collapse{
    text-align: left;
    padding: 0px;
}

/* Vinculos/Header */
.navegacion{
    text-align: center;
}

/* cuerpo en general */
body {
    color: #fff;
    font: 15px arial, helvetica, sans-serif;
    margin: 0;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    /* border: 2px solid red; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
}

/* tamaño logo */
.logo {
    width: 220px;
    height: 50px;
}

/*Menu y submenu*/
.menu>li {
    display: inline-block;
}
            
.menu>li>a {
    display: block;
    padding: 0px 12px;
    color: #f7f7f7;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;  
}

.menuUno>li {
    display: inline-block;
}
            
.menuUno>li>a {
    display: block;
    padding: 0px 12px;
    color: #f7f7f7;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;  
}
    
/*Espacio entre secciones */
.separador{
    background-color:rgb(20, 33, 55);
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
    width: 100% auto;
}

/*Datos*/
.datos{
    width: 100%;
    height: 740px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* Estilo del filtro */
.filtro{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 15px 0px 15px 15px; 
}

p{
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px;
    text-align: center;
}

/*Tabla */
#Tabla{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100px;
    text-align: center;
    border-collapse: collapse; 
    border: 4px solid #000;
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 0px 20px 15px 20px ;
}

/* Encabezado Tabla */
th {     
    color: #fff;
    font-size: 16px;
    font-weight: normal;     
    padding: 1px;     
    margin-top: 0px;
    background: rgb(20, 33, 55);
    border-top: 4px solid #000;    
    border-bottom: 4px solid #000;
}

/* Filas Tabla */
td {    
    padding: 1px;     
    background: #fff;     
    height: 20px;
    font-family: 'Bootstrap-icons';
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #000;
    color: rgb(8, 8, 8);    
    border: 1px solid #000000; 
}

tr:hover td { 
    background: rgb(20, 33, 55); 
    color: rgb(255, 255, 255); 
    overflow-y: auto;
    cursor: pointer;
}

/* botones tabla */
i{
    color: red;
    width: 100px;
    height: 100px;
    padding: 5px;
}

a:hover{
    background: #00b5f1; 
    border: 1px solid white;
}

#searchInput{
    cursor: pointer;
    background:rgb(20, 33, 55);
    color: #fff;
    border-radius: 30px;
    margin-left: 20px;
    text-align: center;
}

#searchInput:hover{
    background:rgb(26, 106, 143); 
    border: 1px solid white;
    color: #fff;
}
  
input:checked + label[id="Act"] {
    background: rgb(20, 33, 55);
    color: white;
    width: 5px;
    height: 1010px;
    padding: 1px 5px 5px 6px;
    text-align: center;
}

input:checked + label[id="Inac"] {
    background: rgb(20, 33, 55);
    color: white;
    width: 5px;
    height: 6px;
    padding: 1px 5px 5px 6px;
}

/*Pie de pagina*/
.footer{
    background-color: rgb(20, 33, 55);
    color:#fff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    height: 25px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.dropdown {
    display: none;
    position: relative;
}

@media screen and (max-width: 1080px){
    .logo{
        width: 190px;
        height: 50px;
        border: 1px solid red;
        margin-right: 1px;

    }

    .dataTable{
        /* overflow-y: scroll; */
        overflow-x: auto;
        overflow-y: auto;
        height: 670px;    
        width:96% ;
        grid-column-start: 1;
        grid-column-end: -1;
    }

    /* .static{
        position: static;
        border: 1px solid black;
        grid-column-start: 1;
        grid-column-end: 2;
    } */

    p{
        font-size: 20px;
    }

    #Tabla{
        margin: 0px 0px 15px 15px ;
        font-size: 10px;
    } 

    .menu>li>a {
        display:none;
    }

    .menuUno>li>a {
        display: none;

    }

    .dropdown {
        display: inline-block;
        width: 150px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 99%;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
        background: rgb(20, 33, 55);
        color: #fff;
    }
      
    .dropdown:hover 
    .dropdown-content {
        color: white;
        display: block;
    }

    .dropdown-content a {
        display: block;
        color: #fff;
        padding: 5px;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        background-color: #00A4BD;
    }

    .boton{
        background: rgb(20, 33, 55);
        border: 0px solid;

    }

    #icon{
    color: white;
    }
    
    .datos{
        height: 740px;
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .th {
        border: 1px solid #6988a5;
        font-family: sans-serif;
        font-size: 1.3rem;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 50%;
        margin: auto;
    }

    tr:hover th { 
        background: rgb(20, 33, 55); 
        color: rgb(255, 255, 255); 
        overflow-y: auto;
        cursor: pointer;
        /* text-overflow: initial;
        white-space: initial;
        overflow: visible; */
    } 

    .container{
        grid-column-start: 1;
        grid-column-end: -1;
        width: 95%;
        height: 90px;
        text-align: center;
    } 

    .separador{
        grid-column-start: 1;
        grid-column-end: 5;
        width: 100%;
    }

    .footer{
        font-size: 15px;
        text-align: center;
    }
}